accelerate==1.1.1
diffusers==0.32.2
huggingface-hub==0.26.2
numpy==1.26.3
pandas==2.2.3
protobuf
safetensors==0.4.5
sentencepiece==0.2.0
tokenizers==0.20.3
torch==2.4.1
torchaudio==2.4.1
torchvision==0.19.1
tqdm==4.67.1
transformers==4.46.3
triton==3.0.0
bitsandbytes

pycocotools
pytorch-fid
torch-fidelity
torchmetrics
image-reward
open-clip-torch
git+https://github.com/openai/CLIP.git
hpsv2
lpips